body {
  background: rgb(238, 174, 202);
  background: -moz-linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(246, 244, 211, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(246, 244, 211, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(246, 244, 211, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca",endColorstr="#f6f4d3",GradientType=1);
}
@media (max-width: 768px) {
  .col-4 {
    text-align: center;
  }
  .col-4 img {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 768px) {
  .mx-md-default {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
* {
  box-sizing: border-box;
}
body,
html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
.content {
  padding: 20px;
}
img {
  max-width: 100%;
  height: auto;
}
p {
  text-align: justify;
}
#confetti-container {
  position: fixed; /* Fixed position to cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none; /* Allow clicks through the canvas */
  z-index: -1; /* Place it behind other content */
}

#confetti-canvas {
  width: 100%;
  height: 100%;
}
footer {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(212, 210, 179, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.125);
}
