body{
  background: rgb(238,174,202);
  background: -moz-linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(246,244,211,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(246,244,211,1) 100%);
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(246,244,211,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca",endColorstr="#f6f4d3",GradientType=1);
}
@media (max-width: 768px) {
    .col-4 {
      text-align: center;
    }
    .col-4 img {
      width: 100%;
      height: auto;
    }
  }
@media (min-width: 768px) {
  .mx-md-default {
      margin-left: 0 !important;
      margin-right: 0 !important;
  }

  * {
  box-sizing: border-box;
}
body, html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
.content {
  padding: 20px;
}
img {
  max-width: 100%;
  height: auto;
}
p{
  text-align:justify;
}